DEBUG=True
HERMES_GATEWAY_URL=your-url-here
HERMES_GATEWAY_APIKEY=your-api-key-here
CUSTOM_GATEWAY_URL=your-url-here
CUSTOM_GATEWAY_PORT=your-port-here
CUSTOM_GATEWAY_APIKEY=your-api-key-here
HF_HUB_OFFLINE=0
TRANSFORMERS_OFFLINE=0
MAIA_MOCK_STT_AND_TTS=0