
* { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 60px;
}

main {
    flex-grow: 1;
    display: flex;
    min-height: 200px; 
}

#left-panel {
    flex-shrink: 0;
    width: 340px;
    background-color: var(--chat-bg);
    border-right: 1px solid var(--border-color);
    padding: 20px;
    overflow-y: auto;
}

#right-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 10px 20px;
    border-top: 1px solid var(--border-color);
    text-align: right;
    font-size: 0.9em;
}

.htmx-indicator {
    display: none;
}

.htmx-request.htmx-indicator {
    display: block;
}
