<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.A.I.A</title>
    <link rel="stylesheet" href="/static/css/_main.css">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- Markdown parser -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <!-- SSE extension -->
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>

    <!--
    {% if DEBUG %}
        <script>
            htmx.logAll()
        </script>
    {% endif %}
    -->
</head>
<body>
    <header>
        <h1>M.A.I.A</h1>
        <nav>
            <a href="/">Messages textes</a> 
            <span>-</span>
            <a href="/voice">Appel vocal</a>
        </nav>
        <div id="settings">
            <button id="settings-btn">⚙️ Paramètres</button>
        </div>
    </header>

    <main>
        <div id="left-panel">
            {% include "parts/history.html" %}
        </div>
        <div id="right-panel">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        &copy; 2026 M.A.I.A Project
    </footer>
</body>
</html>
