<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.A.I.A</title>

    <!-- CSS (TODO: minify) -->
    <link rel="stylesheet" href="/static/css/_main.css">

    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <!-- SSE extension -->
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>

    <!-- Markdown parser -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- DOMPurify for sanitizing HTML -->
    <script src=" https://cdn.jsdelivr.net/npm/dompurify@3.4.12/dist/purify.min.js "></script>

    <!-- Internal JS (TODO: minify) -->
    <script src="static/js/utils.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="static/js/chat.js"></script>
    <script src="static/js/session.js"></script>
    <script src="static/js/voice.js"></script>
    <script src="static/js/settings.js"></script>

    {% if DEBUG %}
        <script>
            var DEBUG = true;
            //htmx.logAll()
        </script>
    {% endif %}
</head>