{# user-message #}
{% include "parts/chat_message.html" %}

{# new-session #}
{% if session %}
    {% include "parts/session_elem.html" %}
{% endif %}

{# ai stream response #}
<div
    class="message role-assistant"
    hx-ext="sse" sse-connect="{{ sse_url }}" sse-close="done" hx-on:htmx:sse-close="onChatStreamEnd(this)"
    >

    <div class="message-header" sse-swap="timestamp"></div>

    <div class="reasoning-container" sse-swap="reasoning"></div>

    <div class="tools-container" sse-swap="tool_call" hx-swap="beforeend"></div>

    {# Hidden div with the raw text before marked parsing and DOMPurify sanitization #}
    <div class="answer-raw"
        sse-swap="text_delta"
        hx-swap="beforeend"
        style="display:none"
        hx-on::after-swap="document.getElementById('message-text-{{ message_id }}').innerHTML = DOMPurify.sanitize(marked.parse(this.textContent, { breaks: true, gfm: true }))"
    ></div>
    {# Displayed answer #}
    <div id="message-text-{{ message_id }}" class="message-text"><p><span class="spinner"></span></p></div>

    <div sse-swap="answer_error" hx-swap="beforeend" hx-target="#message-text-{{ message_id }}"></div>
</div>